html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

.section {
  width: auto;
  height: auto;
}

.image1{
    width: 426px;
    height: 426px;
    margin-top: 50px;
}
.card-menu {
  width: 500px;
  height: 360px;
  border-radius: 8px;
  background: cornflowerblue;
}
li a{
  background-color: #42D789;
  line-height: 2rem;
  position: relative;
}
li a:hover{
    background: rgba(197, 12, 12, 0.5);   
}

#a-cuerpo-Ir_Reservas_Cuerpo{
  line-height: 1;
  font-family: avenirLtStd,Arial,Helvetica,sans-serif;
  text-decoration: none;
  display: flex;
  color: #ffff;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-transform: uppercase;
  background: #42D789;
  padding: 15px 0 0 0;
}

.menu-bottom {
  margin: 10px 20px 15px 50px;
  padding: 30px 30px 30px 30px; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.color{
    background: cornflowerblue;
}



}
