html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 50px;
  background-color: #17A2B8;
}

nav {
  background-color: #0056b3;
}

.card-body a{
  padding: 20px 20px 20px 20px;
  margin: 15px 20px 10px 48px;
}
.menu {
  background: url(/assets/images/Fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100%;
  height: 530px;
}


.image1 {
  width: 426px;
  height: 426px;
  margin-top: 50px;
  margin-left: 70px;
  border-radius: 8px;
}

.image2 {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 8px;
}

.image3 {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 60px;
  border-radius: 8px;
}

.image4 {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 60px;
  border-radius: 8px;
}

.card-menu {
  width: 500px;
  height: 300px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
}

.menu-bottom {
  width: 145px;
  margin: 20px 40px 40px 40px;
  background-color: #0056b3;
  border: none;
}

.resultado {
  width: 375px;
  background-color: #0056b3;
  margin-left: 40px;
  margin-top: 10px;
  border: none;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #0056b3;
}

.titulo {
  padding-top: 50px;
  font-size: 30px;
  font-family: Georgia;
}

.botton-programa {
  width: 210px;
  margin-left: 70px;
  margin-top: -100px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  color: black;
  font-size: 15px;
  font-family: Georgia;
  font-weight: 600;
}

.botton-programa:hover {
  background: #2ddbf3;
}

.doctor {
  padding-top: 100px;
  color: azure;
}

.img-text {
  width: 100%;
  height: 320px;
  display: block;
  text-align: center;
  padding: 40% 5%;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 15px;
}

.img-text h2 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.img-text p {
  font-size: 14px;
}

.single-box {
  position: relative;
  margin-bottom: 30px;
}

.img-area {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  overflow: hidden;
  top: 15px;
  left: 125px;
  border-radius: 50%;
}

.img-area img {
  width: 100%;
}

.carousel-indicators {
  left: 0;
  top: auto;
  bottom: -70px;
}

.carousel-indicators li {
  background: #000;
  border-radius: 50%;
  width: 15px;
  height: 1px;
}

.carousel-indicators .active {
  background: black;
}

.text-conocenos {
  position: absolute;
  top: 250px;
  left: 120px;
  color: #fff;
}

.text-conocenos1 {
  position: absolute;
  top: 250px;
  left: 370px;
  color: #fff;
}

.text-conocenos2 {
  position: absolute;
  top: 500px;
  left: 90px;
  color: #fff;
}

.text-conocenos3 {
  position: absolute;
  top: 500px;
  left: 370px;
  color: #fff;
}

.video {
  margin-left: 230px;
}

.titulo-conocenos {
  position: absolute;
  top: 600px;
  left: 600px;
}

.titulo-conocenos1 {
  position: absolute;
  top: 1110px;
  left: 600px;
}

.titulo2-conocenos {
  position: absolute;
  top: 260px;
  left: 120px;
  color: #fff;
  text-align: center;
}

.accordionTwo .panel-group {
  padding-top: 160px;
  margin-bottom: 155px;
}

.accordionTwo .panel {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 10px solid transparent;
  border-radius: 0;
  margin: 0;
}

.accordionTwo .panel-default {
  border: 0;
}

.accordionTwo .panel-default > .panel-heading {
  background: #2ddbf3;
  border-radius: 0px;
  border-color: #2ddbf3;
}

.accordion-wrap .panel-heading {
  padding: 0px;
  border-radius: 0px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.accordionTwo .panel .panel-heading a.collapsed {
  color: #000;
  background-color: #2ddbf3;
  display: block;
  padding: 12px 20px;
}

.accordionTwo .panel .panel-heading a {
  display: block;
  padding: 12px 20px;
  color: #0056b3;
}

.accordion-wrap .panel .panel-heading a {
  font-size: 14px;
}

.accordionTwo .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0;
  padding-top: 0;
  padding: 20px 20px 20px 30px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.accordionTwo .panel .panel-heading a:after {
  content: "\2212";
  color: #4285f4;
  background: #fff;
}

.accordionTwo .panel .panel-heading a:after,
.accordionTwo .panel .panel-heading a.collapsed:after {
  font-family: "FontAwesome";
  font-size: 14px;
  float: right;
  width: 21px;
  display: block;
  height: 21px;
  line-height: 21px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}

.accordionTwo .panel .panel-heading a.collapsed:after {
  content: "\2b";
  color: #3c39d5;
  background-color: #dadada;
}

.accordionTwo .panel .panel-heading a:after {
  content: "\2212";
  color: #3c39d5;
  background: #dadada;
}

a:link {
  text-decoration: none;
}

.card-login{
  width: 500px;
  height: 280px;
  top: 120px;
  margin-left: 420px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
}

.input-group-prepend span{
  width: 50px;
  background-color: #2ddbf3;
  color: black;
  border:0 !important;
  }
  
.input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
}

.login_btn{
  color: black;
  background-color: #2ddbf3;
  width: 100px;
}
  
.login_btn:hover{
  color: black;
  background-color: white;
}
  
.links{
  color: white;
}
  
.links a{
  margin-left: 4px;
}

.form-login{
  margin-top: 50px;
}

.btn-modal{
  margin-left: 130px;
  margin-top: -25px;
  color: black;
  background-color: #2ddbf3;
  width: 200px;
}

.btn-modal:hover{
  color: black;
  background-color: white;
}

.card-cita{
  width: 950px;
  height: 430px;
  top: 50px;
  margin-left: 200px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
}

.form-imput{
  width: 70%;
  margin-left: 70px;
  margin-top: 30px;
}